@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  /* @font-face {
    font-family: "Itim";
    source: url("/fonts/Itim-Regular.ttf") format("ttf");
  }
  @font-face {
    font-family: "aboreto";
    source: url("/fonts/Aboreto-Regular.ttf") format("ttf");
  } */

  --moonstone-bg-dark: linear-gradient(135deg, #1c1c1c, #0e0e0e),
    radial-gradient(at top left, circle, #1c1c1c, #0e0e0e, #080810),
    radial-gradient(at bottom right, circle, #1c1c1c, #080810, #0e0e0e),
    radial-gradient(at center, circle, #1c1c1c, #080810, #0e0e0e, #1c1c1c),
    radial-gradient(at top right, circle, #0e0e0e, #080810, #1c1c1c),
    radial-gradient(at bottom left, circle, #0e0e0e, #1c1c1c, #080810);

  --amethyst-bg-3: linear-gradient(135deg, #f2f0f1, #e8e6e7),
    radial-gradient(at top left, circle, #f2f0f1, #e8e6e7, #c1c9d0),
    radial-gradient(at bottom right, circle, #f2f0f1, #c1c9d0, #e8e6e7),
    radial-gradient(at center, circle, #f2f0f1, #c1c9d0, #e8e6e7, #f2f0f1),
    radial-gradient(at top right, circle, #e8e6e7, #c1c9d0, #f2f0f1),
    radial-gradient(at bottom left, circle, #e8e6e7, #f2f0f1, #c1c9d0);

  --amethyst-bg-2: linear-gradient(to bottom, #f2f0f1, #e8e6e7),
    radial-gradient(circle, #f2f0f1, #e8e6e7, #c1c9d0),
    radial-gradient(circle, #f2f0f1, #c1c9d0, #e8e6e7),
    radial-gradient(circle, #f2f0f1, #c1c9d0, #e8e6e7, #f2f0f1),
    radial-gradient(circle, #e8e6e7, #c1c9d0, #f2f0f1),
    radial-gradient(circle, #e8e6e7, #f2f0f1, #c1c9d0);

  --amethyst-bg: linear-gradient(to bottom, #f9f7f8, #f2ecec),
    radial-gradient(circle, #f9f7f8, #f2ecec, #c7d6e1),
    radial-gradient(circle, #f9f7f8, #c7d6e1, #f2ecec),
    radial-gradient(circle, #f9f7f8, #c7d6e1, #f2ecec, #f9f7f8),
    radial-gradient(circle, #f2ecec, #c7d6e1, #f9f7f8),
    radial-gradient(circle, #f2ecec, #f9f7f8, #c7d6e1);

  --lab-bg-2: linear-gradient(to bottom, #f8f7f9, #ececf2),
    radial-gradient(circle, #f8f7f9, #ececf2, #c7d6e1),
    radial-gradient(circle, #f8f7f9, #c7d6e1, #ececf2),
    radial-gradient(circle, #f8f7f9, #c7d6e1, #ececf2, #f8f7f9),
    radial-gradient(circle, #ececf2, #c7d6e1, #f8f7f9),
    radial-gradient(circle, #ececf2, #f8f7f9, #c7d6e1);

  --lab-bg: linear-gradient(to bottom, #f8f7f9, #ececf2),
    radial-gradient(circle, #f8f7f9, #ececf2, #c7d6e1),
    radial-gradient(circle, #f8f7f9, #c7d6e1, #ececf2);

  --moonstone-bg: linear-gradient(135deg, #faf7f8, #f2ecec),
    radial-gradient(at top left, circle, #faf7f8, #f2ecec, #c7d6e1),
    radial-gradient(at bottom right, circle, #faf7f8, #c7d6e1, #f2ecec),
    radial-gradient(at center, circle, #faf7f8, #c7d6e1, #f2ecec, #faf7f8),
    radial-gradient(at top right, circle, #f2ecec, #c7d6e1, #faf7f8);

  --gradient-copper-brass: linear-gradient(to right, #b87333, #bfbfbf);

  --gradient-clear-quartz: linear-gradient(
    to right,
    #ffffff,
    #e6e6e6,
    #cccccc,
    #b3b3b3,
    #999999
  );

  --gradient-charoite: linear-gradient(
    to right,
    #3f0080,
    #471499,
    #4d2dcc,
    #6447e6,
    #8064ff
  );

  --gradient-blue-gold: linear-gradient(
    to right,
    #1c1cff,
    #3f3fff,
    #6666ff,
    #8080ff,
    #9999ff
  );

  --gradient-rose-quartz: linear-gradient(
    to right,
    #ffb3e6,
    #ff9fbf,
    #ff8099,
    #ff6673
  );

  --gradient-rainbow-fluorite: linear-gradient(
    to right,
    #86b8ff,
    #7de2ff,
    #70ffb3,
    #80ff47,
    #b3ff00
  );

  --gradient-sunstone: linear-gradient(
    to right,
    #ffd700,
    #ffdc80,
    #ffe6b3,
    #fff3e6
  );

  --gradient-amazonite: linear-gradient(
    to right,
    #00bfff,
    #47d1d1,
    #80e6e6,
    #b3f3f3
  );

  --gradient-tigers-eye: linear-gradient(
    to right,
    #b58f3e,
    #c6a137,
    #d7b42f,
    #e8c71e
  );

  --gradient-orange-agate: linear-gradient(
    to right,
    #ff9f1c,
    #ffb347,
    #ffcc80,
    #ffe6b3
  );

  --gradient-black-tourmaline: linear-gradient(
    to bottom right,
    #141414,
    #2d2d2d,
    #474747,
    #646464,
    #8e8e8e
  );

  --gradient-amethyst-light: linear-gradient(to right, #b992c8, #9654b2);

  --background-gradient-grey: linear-gradient(
    to bottom right,
    #bfbfbf 0%,
    #b2aeb2 40%,
    #a59ea5 60%,
    #98968e 80%,
    #8b8e7e 90%,
    #7e7e6e 100%
  );

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

body {
  background: white;
  min-height: 100vh;
  overflow: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
