.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* height: clamp(100vh, 120vh, auto);

  width: clamp(350px, 100vw, 1600px); */
  min-width: 350px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
}

/* Mobile */
@media (max-width: 700px) {
}
