.card {
  margin-top: 0.5rem;
  height: 20rem;
  width: 16rem;
  min-width: 15rem;

  background: whitesmoke;
  /* padding: 0.5rem; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  cursor: pointer;
}

.imgContainer {
  height: 70%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.card img {
  transition: scale 0.3s linear;
}

.card:hover img {
  scale: 1.05;
}

.card:active img {
  scale: 1.05;
  /* styles for child when parent is active */
}

.pDetails {
  display: grid;
  place-items: center;
  color: black;
}

.pName {
  font-weight: bold;
  /* font-style: italic; */
}
