.card {
  /* width: clamp(10rem, 5vw + 2rem, 20rem); */
  width: clamp(10rem, calc((100vw - 20rem) / 2), 20rem);
  height: clamp(20rem, calc(5vw + 2rem), 25rem);

  background: whitesmoke;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* box-shadow: 2px 3px 8px 1px #a2a2a2; */
  cursor: pointer;
  flex-shrink: 0;
}

.imgContainer {
  height: 70%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.productLink img {
  transition: scale 0.3s linear;
}

.productLink:hover img {
  scale: 1.05;
}

.productLink:active img {
  scale: 1.05;
  /* styles for child when parent is active */
}

.pDetails {
  /* display: grid; */
  /* place-items: center; */
  margin-left: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  color: black;
  font-size: clamp(0.75rem, 1vw + 0.125rem, 1rem);
}

.pName {
  font-weight: bold;
  font-size: 1em;
  /* font-style: italic; */
}

.pDesc {
  font-size: 0.55rem;
  color: gray;
}

.pPrice {
  margin-top: 0.5em;
  font-size: 1.25em;
}
