.main {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  gap: 2rem;
  /* height: clamp(100vh, 120vh, auto);

  width: clamp(350px, 100vw, 1600px); */
}

.pageTitle {
  margin-top: 5rem;
  margin-right: auto;
  padding-inline: 1rem;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  background: lightgreen;
  display: flex;
  justify-content: left;
}

.productsContainer {
  height: auto;
  display: grid;
  margin-left: 1rem;
  grid-template-columns: repeat(
    auto-fit,
    clamp(10rem, calc((100vw - 20rem) / 2), 20rem)
  );
  justify-content: center;
  column-gap: clamp(0.125rem, 1vw + 0.5rem, 1rem);
  row-gap: 1rem;
  /* display: flex;
  flex-flow: row wrap; */
}
.product {
  flex: 1 0 auto;
}

@media (min-width: 1024px) {
  .productsContainer {
    grid-template-columns: repeat(auto-fit, 22rem);
    margin-left: auto;
    margin-right: auto;
  }
}
