.main {
  color: rgb(72, 72, 72);
  background: var(--amethyst-bg);
}

.logoContainer {
  /* display: grid; */
  width: 100%;
  padding: 4rem 0;

  background: black;
}

.navLogo {
  margin: 0 auto;
  height: 100%;
  font-size: 3rem;
  font-weight: bold;
  color: transparent;
  background-image: var(--gradient-charoite);
  background-clip: text;
  background-size: 200%;
  display: flex;
  align-items: center;
  animation: logo 3s infinite alternate;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* padding-inline: clamp(0.1rem, 2vw + 1rem, 3rem); */
  /* justify-content: center; */
}

.sectionTitle {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  padding: 1rem 0.5rem;
  border-block: 2px solid rgb(216, 215, 215);
}

.total {
  width: 100%;
  padding: 2rem;
  background: rgb(54, 54, 54);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-radius: 0.5rem; */
  box-shadow: inset 0 0 0.5rem rgb(1, 1, 1);
}

.summary {
  margin: 0 auto 0 auto;
  /* padding-inline: 0.5rem; */
  max-width: 35rem;
  width: 100%;
  height: auto;
  background: var(--bg-sandal);

  /* height: 20rem; */
  transition: all 0.2s ease;
  /* display: none; */
}

.itemsContainer {
  /* padding-inline: 0.5rem; */
  width: 100%;
  /* display: none; */
  height: 0;
  opacity: 0;
  background: var(--bg-sandal);
  z-index: -1;
  transition: all 0.2s ease;
}

.itemsContainer.active {
  height: auto;
  /* max-height: 100vh; */
  opacity: 1;
}

.totalAmount {
  margin-left: auto;
  font-size: 1.1rem;
}

.info {
  margin: 0 auto;
  padding-inline: 0.5rem;
  max-width: 35rem;
  width: 100%;
}

@media (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    justify-content: center;
  }
  .itemsContainer {
    height: auto;
    opacity: 1;
    position: unset;
    translate: 0;
  }

  .summary {
    padding-top: 2rem;
    grid-column: 2/3;
    grid-row: 1/2;
    height: 60%;
    overflow: scroll;
  }
  .sectionTitle {
    display: none;
  }
  .total {
    margin-top: 2rem;
  }

  .info {
    padding-top: 2rem;
    grid-column: 1/2;
    grid-row: 1/-1;
    margin: 0 auto;
  }
}

@keyframes logo {
  from {
    background-position: left;
  }

  to {
    background-position: right;
  }
}
