.hero {
  position: relative;
  isolation: isolate;
  /* postion: unset; */
  /* margin-top: 4rem; */
  height: clamp(60vh, 70vh + 1rem, 80vh);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "hero";
  /* justify-items: center; */
  width: 100%;
  /* padding: 1rem; */
}

/* ======================================================
          action
    ======================================================*/

.heroAction {
  grid-area: hero;
  margin-left: clamp(0.5rem, 1vw + 0.5rem, 2rem);
  margin-top: 8rem;
}

.actionTag {
  font-size: clamp(3rem, 4vw + 0.5rem, 4rem);
}

.tagSpan {
  background-image: var(--gradient-orange-agate);
  background-clip: text;
  background-size: 200%;
  color: transparent;
  animation: logo 3s infinite alternate;
}

/* .actionText {
  display: none;
} */

.heroBtn {
  margin-top: 1rem;
  padding-block: clamp(0.5rem, 1vw + 1rem, 0.85rem);
  padding-inline: clamp(1rem, 2vw + 1rem, 2rem);
  border: none;
  outline-color: transparent;
  color: black;
  background-color: white;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;

  transition: all 0.1s linear;
}

.heroBtn:is(:hover, :active) {
  /* font-weight: bold; */
  /* background: black; */
  color: white;
  background: black;
  /* border: 1px solid black; */
  /* border-radius: 0.5rem; */
}

/* ======================================================
          img container
    ======================================================*/
.imgContainer {
  /* position: relative; */
  grid-area: hero;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  z-index: -1;
  /* padding: 2rem; */
}

.imgContainer img {
  filter: saturate(90%);
  scale: 1;
  transition: all 0.5s ease-in-out;
  object-position: center;
}

/* .imgContainer img:hover {
  filter: none;
  scale: 1.1;
} */

.carouselContainer {
  height: 40%;
  width: 100%;
  background-color: lightcyan;
}

/* @media (min-width: 640px) {
  .imgContainer {
    padding-inline: 2rem;
    padding-block: 1rem;
  }
} */

@media (min-width: 1024px) {
  .hero {
    grid-template-columns: 0.6fr 0.4fr;
    background: whitesmoke;
  }

  .heroAction {
    grid-column: 1/2;
  }
  .imgContainer {
    grid-column: 2/3;
    background: var(--bg-sandal);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .actionTag {
    color: transparent;
    background: var(--gradient-black-tourmaline);
    background-clip: text;
  }

  .heroBtn {
    border: 1px solid black;
  }
}

@keyframes logo {
  from {
    background-position: left;
  }

  to {
    background-position: right;
  }
}
