.sectionContainer {
  /* margin-top: 2rem; */
  padding-block: 4rem;
  padding-inline: 1rem;
  height: auto;
  min-width: 100vw;
  width: 100vw;
  background: var(--lab-bg);
  display: flex;
  flex-direction: column;
  /* overflow-x: scroll; */
}

.sectionTitle {
  color: black;
  font-weight: bold;
  border-bottom: 1px solid black;
  /* padding-bottom: 0.25rem; */
  /* font-style: italic; */
}

.cardsContainer {
  padding-top: 2rem;
  display: flex;
  /* justify-content: center; */
  gap: 1rem;
  flex-flow: row nowrap;
  overflow-x: scroll;

  /* scroll-behavior: smooth; */
}

@media (min-width: 1024px) {
  .cardsContainer {
    /* justify-content: center; */
    gap: 2rem;
    height: auto;
  }
}
