.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}
.img {
  opacity: 0;
  visibility: hidden;

  transition: opacity 3s ease-in-out;
}
.hide {
  opacity: 0;
  visibility: hidden;
}
.show {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 1024px) {
  .imgContainer {
    /* width: 80%; */
    height: 80%;
    translate: -40% 0;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(150, 149, 149);
  }
}

@keyframes slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
